// Transforms
// --------------------------------------------------
@mixin transform($transform...) {
  -webkit-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@mixin transition-duration($duration...) {
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
  transition-duration: $duration;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  // Slide animation
  &.sliding {
    @include transform(translate3d(0, 0, 0));
    @include transition-duration(.4s);

    &.left {
      @include transform(translate3d(-100%, 0, 0));
    }

    &.right {
      @include transform(translate3d(100%, 0, 0));
    }
  }
}