<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    {{#each users}}
        <tr data-id="{{id}}">
            <td>{{name}}</td>
            <td>{{password}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>